# Lab Exercise: SQL Analysis with Polars

In this lab, you'll practice SQL queries using Polars' built-in SQL functionality. Complete each exercise by writing the appropriate SQL query.

In [1]:
# Setup - Run this cell first
import polars as pl

# Load data
airlines = pl.read_csv('https://raw.githubusercontent.com/philhetzel/opan5510-class11/refs/heads/main/data/nyc_airlines.csv')
airports = pl.read_csv('https://raw.githubusercontent.com/philhetzel/opan5510-class11/refs/heads/main/data/nyc_airports.csv')
flights = pl.read_csv('https://raw.githubusercontent.com/philhetzel/opan5510-class11/refs/heads/main/data/nyc_flights.csv', null_values='NA')
planes = pl.read_csv('https://raw.githubusercontent.com/philhetzel/opan5510-class11/refs/heads/main/data/nyc_planes.csv', null_values='NA')
weather = pl.read_csv('https://raw.githubusercontent.com/philhetzel/opan5510-class11/refs/heads/main/data/nyc_weather.csv', schema_overrides={'precip': pl.Float64}, ignore_errors=True)

flights = flights.with_columns(pl.col("time_hour").str.strptime(pl.Datetime))
weather = weather.with_columns(pl.col("time_hour").str.strptime(pl.Datetime))

# Create SQL context
ctx = pl.SQLContext(
    airlines=airlines,
    airports=airports,
    flights=flights,
    planes=planes,
    weather=weather,
    eager_execution=True
)

print("Setup complete! Tables available:")
print(ctx.execute("SHOW TABLES"))

Setup complete! Tables available:
shape: (5, 1)
┌──────────┐
│ name     │
│ ---      │
│ str      │
╞══════════╡
│ airlines │
│ airports │
│ flights  │
│ planes   │
│ weather  │
└──────────┘

/tmp/ipython-input-3726869723.py:15: DeprecationWarning: The argument `eager_execution` for `SQLContext.__init__` is deprecated. It has been renamed to `eager`.
  ctx = pl.SQLContext(

In [9]:
print("Airlines:", airlines.shape)
print("Airports:", airports.shape)
print("Flights:", flights.shape)
print("Planes:", planes.shape)
print("Weather:", weather.shape)

Airlines: (16, 2)
Airports: (1458, 8)
Flights: (336776, 19)
Planes: (3322, 9)
Weather: (26115, 15)

## Exercise 1: Basic Queries

### 1.1 Find all unique carriers in the airlines table

In [8]:
result = ctx.execute("""
SELECT DISTINCT carrier
FROM airlines
""")

print(result)

shape: (16, 1)
┌─────────┐
│ carrier │
│ ---     │
│ str     │
╞═════════╡
│ 9E      │
│ AA      │
│ AS      │
│ B6      │
│ DL      │
│ …       │
│ UA      │
│ US      │
│ VX      │
│ WN      │
│ YV      │
└─────────┘

### 1.2 Find the top 10 destinations by number of flights

In [7]:
result = ctx.execute("""
SELECT dest, COUNT(*) as flight_count
FROM flights
GROUP BY dest
ORDER BY flight_count DESC
LIMIT 10
""")

print(result)

shape: (10, 2)
┌──────┬──────────────┐
│ dest ┆ flight_count │
│ ---  ┆ ---          │
│ str  ┆ u32          │
╞══════╪══════════════╡
│ ORD  ┆ 17283        │
│ ATL  ┆ 17215        │
│ LAX  ┆ 16174        │
│ BOS  ┆ 15508        │
│ MCO  ┆ 14082        │
│ CLT  ┆ 14064        │
│ SFO  ┆ 13331        │
│ FLL  ┆ 12055        │
│ MIA  ┆ 11728        │
│ DCA  ┆ 9705         │
└──────┴──────────────┘

### 1.3 Find all flights that departed more than 2 hours late (120 minutes)

In [37]:
result = ctx.execute("""
SELECT *
FROM flights
WHERE dep_delay > 120
""")

print(result)

shape: (9_723, 19)
┌──────┬───────┬─────┬──────────┬───┬──────────┬──────┬────────┬─────────────────────────┐
│ year ┆ month ┆ day ┆ dep_time ┆ … ┆ distance ┆ hour ┆ minute ┆ time_hour               │
│ ---  ┆ ---   ┆ --- ┆ ---      ┆   ┆ ---      ┆ ---  ┆ ---    ┆ ---                     │
│ i64  ┆ i64   ┆ i64 ┆ i64      ┆   ┆ i64      ┆ i64  ┆ i64    ┆ datetime[μs, UTC]       │
╞══════╪═══════╪═════╪══════════╪═══╪══════════╪══════╪════════╪═════════════════════════╡
│ 2013 ┆ 1     ┆ 1   ┆ 848      ┆ … ┆ 184      ┆ 18   ┆ 35     ┆ 2013-01-01 23:00:00 UTC │
│ 2013 ┆ 1     ┆ 1   ┆ 957      ┆ … ┆ 200      ┆ 7    ┆ 33     ┆ 2013-01-01 12:00:00 UTC │
│ 2013 ┆ 1     ┆ 1   ┆ 1114     ┆ … ┆ 1416     ┆ 9    ┆ 0      ┆ 2013-01-01 14:00:00 UTC │
│ 2013 ┆ 1     ┆ 1   ┆ 1540     ┆ … ┆ 1598     ┆ 13   ┆ 38     ┆ 2013-01-01 18:00:00 UTC │
│ 2013 ┆ 1     ┆ 1   ┆ 1815     ┆ … ┆ 1134     ┆ 13   ┆ 25     ┆ 2013-01-01 18:00:00 UTC │
│ …    ┆ …     ┆ …   ┆ …        ┆ … ┆ …        ┆ …    ┆ …      ┆ …                       │
│ 2013 ┆ 9     ┆ 30  ┆ 1823     ┆ … ┆ 765      ┆ 15   ┆ 45     ┆ 2013-09-30 19:00:00 UTC │
│ 2013 ┆ 9     ┆ 30  ┆ 1951     ┆ … ┆ 708      ┆ 16   ┆ 49     ┆ 2013-09-30 20:00:00 UTC │
│ 2013 ┆ 9     ┆ 30  ┆ 2053     ┆ … ┆ 746      ┆ 18   ┆ 15     ┆ 2013-09-30 22:00:00 UTC │
│ 2013 ┆ 9     ┆ 30  ┆ 2159     ┆ … ┆ 301      ┆ 18   ┆ 45     ┆ 2013-09-30 22:00:00 UTC │
│ 2013 ┆ 9     ┆ 30  ┆ 2235     ┆ … ┆ 944      ┆ 20   ┆ 1      ┆ 2013-10-01 00:00:00 UTC │
└──────┴───────┴─────┴──────────┴───┴──────────┴──────┴────────┴─────────────────────────┘

## Exercise 2: Aggregation

### 2.1 Calculate the average departure delay for each origin airport

In [11]:
result = ctx.execute("""
SELECT origin, AVG(dep_delay) as avg_delay
FROM flights
WHERE dep_delay IS NOT NULL
GROUP BY origin
ORDER BY avg_delay DESC
""")

print(result)

shape: (3, 2)
┌────────┬───────────┐
│ origin ┆ avg_delay │
│ ---    ┆ ---       │
│ str    ┆ f64       │
╞════════╪═══════════╡
│ EWR    ┆ 15.107954 │
│ JFK    ┆ 12.112159 │
│ LGA    ┆ 10.346876 │
└────────┴───────────┘

### 2.2 Find the busiest month of the year

Count the number of flights per month and find which month has the most flights.

In [12]:
result = ctx.execute("""
SELECT month, COUNT(*) as flight_count
FROM flights
GROUP BY month
ORDER BY flight_count DESC
LIMIT 1
""")

print(result)

shape: (1, 2)
┌───────┬──────────────┐
│ month ┆ flight_count │
│ ---   ┆ ---          │
│ i64   ┆ u32          │
╞═══════╪══════════════╡
│ 7     ┆ 29425        │
└───────┴──────────────┘

### 2.3 Calculate the on-time performance rate for each carrier

Consider a flight on-time if the departure delay is <= 15 minutes.

In [13]:
result = ctx.execute("""
SELECT
    carrier,
    CAST(SUM(CASE WHEN dep_delay <= 15 THEN 1 ELSE 0 END) AS DOUBLE) * 100 / COUNT(*) AS on_time_rate
FROM flights
WHERE dep_delay IS NOT NULL
GROUP BY carrier
ORDER BY on_time_rate DESC
""")

print(result)

shape: (16, 2)
┌─────────┬──────────────┐
│ carrier ┆ on_time_rate │
│ ---     ┆ ---          │
│ str     ┆ f64          │
╞═════════╪══════════════╡
│ HA      ┆ 92.982456    │
│ US      ┆ 87.822674    │
│ AS      ┆ 86.797753    │
│ AA      ┆ 84.071293    │
│ DL      ┆ 83.681246    │
│ …       ┆ …            │
│ FL      ┆ 73.32915     │
│ WN      ┆ 73.102706    │
│ F9      ┆ 71.847507    │
│ YV      ┆ 71.376147    │
│ EV      ┆ 69.538126    │
└─────────┴──────────────┘

## Exercise 3: Joins

### 3.1 List all flights with their airline names (not just carrier codes)

Show the first 20 flights with carrier code, airline name, flight number, origin, and destination.

In [15]:
result = ctx.execute("""
SELECT
    f.carrier,
    a.name as airline_name,
    f.flight,
    f.origin,
    f.dest
FROM flights f
JOIN airlines a ON f.carrier = a.carrier
LIMIT 20
""")

print(result)

shape: (20, 5)
┌─────────┬────────────────────────┬────────┬────────┬──────┐
│ carrier ┆ airline_name           ┆ flight ┆ origin ┆ dest │
│ ---     ┆ ---                    ┆ ---    ┆ ---    ┆ ---  │
│ str     ┆ str                    ┆ i64    ┆ str    ┆ str  │
╞═════════╪════════════════════════╪════════╪════════╪══════╡
│ UA      ┆ United Air Lines Inc.  ┆ 1545   ┆ EWR    ┆ IAH  │
│ UA      ┆ United Air Lines Inc.  ┆ 1714   ┆ LGA    ┆ IAH  │
│ AA      ┆ American Airlines Inc. ┆ 1141   ┆ JFK    ┆ MIA  │
│ B6      ┆ JetBlue Airways        ┆ 725    ┆ JFK    ┆ BQN  │
│ DL      ┆ Delta Air Lines Inc.   ┆ 461    ┆ LGA    ┆ ATL  │
│ …       ┆ …                      ┆ …      ┆ …      ┆ …    │
│ B6      ┆ JetBlue Airways        ┆ 1806   ┆ JFK    ┆ BOS  │
│ UA      ┆ United Air Lines Inc.  ┆ 1187   ┆ EWR    ┆ LAS  │
│ B6      ┆ JetBlue Airways        ┆ 371    ┆ LGA    ┆ FLL  │
│ MQ      ┆ Envoy Air              ┆ 4650   ┆ LGA    ┆ ATL  │
│ B6      ┆ JetBlue Airways        ┆ 343    ┆ EWR    ┆ PBI  │
└─────────┴────────────────────────┴────────┴────────┴──────┘

### 3.2 Find the average age of planes for each carrier

Hint: The planes table has a `year` column for manufacture year. Calculate age based on 2013.

In [17]:
result = ctx.execute("""
SELECT
    f.carrier,
    AVG(2013 - p.year) AS avg_age
FROM flights f
JOIN planes p ON f.tailnum = p.tailnum
WHERE p.year IS NOT NULL
GROUP BY f.carrier
ORDER BY avg_age
""")

print(result)

shape: (16, 2)
┌─────────┬───────────┐
│ carrier ┆ avg_age   │
│ ---     ┆ ---       │
│ str     ┆ f64       │
╞═════════╪═══════════╡
│ HA      ┆ 1.548387  │
│ AS      ┆ 3.33662   │
│ VX      ┆ 4.473643  │
│ F9      ┆ 4.87874   │
│ B6      ┆ 6.686702  │
│ …       ┆ …         │
│ FL      ┆ 11.385829 │
│ UA      ┆ 13.207691 │
│ DL      ┆ 16.372169 │
│ AA      ┆ 25.869426 │
│ MQ      ┆ 35.319    │
└─────────┴───────────┘

### 3.3 Find flights that experienced both departure delays and bad weather

Join flights with weather data and find flights where departure delay > 30 minutes and either wind_speed > 20 or precip > 0.1

In [26]:
#joining the weather data witht he flights:
result = ctx.execute("""
    SELECT *
    FROM weather
    LIMIT 5
""")
result = ctx.execute("""
SELECT
    f.year,
    f.month,
    f.day,
    f.dep_time,
    f.dep_delay,
    w.wind_speed,
    w.precip,
    f.origin,
    f.dest
FROM flights f
JOIN weather w ON f.year = w.year
    AND f.month = w.month
    AND f.day = w.day
    AND f.hour = w.hour
    AND f.origin = w.origin
WHERE f.dep_delay > 30
    AND (w.wind_speed > 20 OR w.precip > 0.1)
""")

print(result)

shape: (4_938, 9)
┌──────┬───────┬─────┬──────────┬───┬────────────┬────────┬────────┬──────┐
│ year ┆ month ┆ day ┆ dep_time ┆ … ┆ wind_speed ┆ precip ┆ origin ┆ dest │
│ ---  ┆ ---   ┆ --- ┆ ---      ┆   ┆ ---        ┆ ---    ┆ ---    ┆ ---  │
│ i64  ┆ i64   ┆ i64 ┆ i64      ┆   ┆ f64        ┆ f64    ┆ str    ┆ str  │
╞══════╪═══════╪═════╪══════════╪═══╪════════════╪════════╪════════╪══════╡
│ 2013 ┆ 1     ┆ 1   ┆ 2217     ┆ … ┆ 21.86482   ┆ 0.0    ┆ JFK    ┆ TPA  │
│ 2013 ┆ 1     ┆ 1   ┆ 2326     ┆ … ┆ 21.86482   ┆ 0.0    ┆ JFK    ┆ LAS  │
│ 2013 ┆ 1     ┆ 4   ┆ 1238     ┆ … ┆ 20.71404   ┆ 0.0    ┆ EWR    ┆ JAX  │
│ 2013 ┆ 1     ┆ 4   ┆ 1400     ┆ … ┆ 24.16638   ┆ 0.0    ┆ EWR    ┆ IAD  │
│ 2013 ┆ 1     ┆ 4   ┆ 1455     ┆ … ┆ 20.71404   ┆ 0.0    ┆ JFK    ┆ BOS  │
│ …    ┆ …     ┆ …   ┆ …        ┆ … ┆ …          ┆ …      ┆ …      ┆ …    │
│ 2013 ┆ 9     ┆ 22  ┆ 1540     ┆ … ┆ 20.71404   ┆ 0.0    ┆ LGA    ┆ ATL  │
│ 2013 ┆ 9     ┆ 22  ┆ 1957     ┆ … ┆ 20.71404   ┆ 0.0    ┆ LGA    ┆ PIT  │
│ 2013 ┆ 9     ┆ 22  ┆ 2104     ┆ … ┆ 21.86482   ┆ 0.0    ┆ JFK    ┆ PHX  │
│ 2013 ┆ 9     ┆ 22  ┆ 2111     ┆ … ┆ 21.86482   ┆ 0.0    ┆ JFK    ┆ LAX  │
│ 2013 ┆ 9     ┆ 22  ┆ 2130     ┆ … ┆ 21.86482   ┆ 0.0    ┆ JFK    ┆ BOS  │
└──────┴───────┴─────┴──────────┴───┴────────────┴────────┴────────┴──────┘

## Exercise 4: Advanced Queries

### 4.1 Find the most popular aircraft types (by number of flights)

Join flights with planes to get manufacturer and model information. Show top 10.

In [34]:
#The flyest types of aircrafts
result = ctx.execute("""
SELECT
    p.manufacturer,
    p.model,
    COUNT(*) AS flight_count
FROM flights f
JOIN planes p ON f.tailnum = p.tailnum
WHERE p.manufacturer IS NOT NULL AND p.model IS NOT NULL
GROUP BY p.manufacturer, p.model
ORDER BY flight_count DESC
LIMIT 10
""")

print(result)

shape: (10, 3)
┌───────────────────────────────┬─────────────────┬──────────────┐
│ manufacturer                  ┆ model           ┆ flight_count │
│ ---                           ┆ ---             ┆ ---          │
│ str                           ┆ str             ┆ u32          │
╞═══════════════════════════════╪═════════════════╪══════════════╡
│ AIRBUS                        ┆ A320-232        ┆ 31278        │
│ EMBRAER                       ┆ EMB-145LR       ┆ 28027        │
│ EMBRAER                       ┆ ERJ 190-100 IGW ┆ 23716        │
│ AIRBUS INDUSTRIE              ┆ A320-232        ┆ 14553        │
│ EMBRAER                       ┆ EMB-145XR       ┆ 14051        │
│ BOEING                        ┆ 737-824         ┆ 13809        │
│ BOMBARDIER INC                ┆ CL-600-2D24     ┆ 11807        │
│ BOEING                        ┆ 737-7H4         ┆ 10389        │
│ BOEING                        ┆ 757-222         ┆ 9150         │
│ MCDONNELL DOUGLAS AIRCRAFT CO ┆ MD-88           ┆ 8932         │
└───────────────────────────────┴─────────────────┴──────────────┘

### 4.2 Analyze route performance

Find the top 10 routes (origin-destination pairs) with:
- Total number of flights
- Average departure delay
- Percentage of flights delayed more than 30 minutes

Include airport names, not just codes.

In [36]:
#Analyzing the top 10 routes:
result = ctx.execute("""
SELECT
    f.origin,
    f.dest,
    COUNT(*) as total_flights,
    AVG(f.dep_delay) as avg_delay,
    CAST(SUM(CASE WHEN f.dep_delay > 30 THEN 1 ELSE 0 END) AS DOUBLE) * 100 / COUNT(*) AS delayed_percentage
FROM flights f
WHERE f.dep_delay IS NOT NULL
GROUP BY f.origin, f.dest
ORDER BY total_flights DESC
LIMIT 10
""")

print(result)

shape: (10, 5)
┌────────┬──────┬───────────────┬───────────┬────────────────────┐
│ origin ┆ dest ┆ total_flights ┆ avg_delay ┆ delayed_percentage │
│ ---    ┆ ---  ┆ ---           ┆ ---       ┆ ---                │
│ str    ┆ str  ┆ u32           ┆ f64       ┆ f64                │
╞════════╪══════╪═══════════════╪═══════════╪════════════════════╡
│ JFK    ┆ LAX  ┆ 11196         ┆ 8.522508  ┆ 9.88746            │
│ LGA    ┆ ATL  ┆ 10082         ┆ 11.448621 ┆ 12.467764          │
│ LGA    ┆ ORD  ┆ 8548          ┆ 10.740758 ┆ 13.827796          │
│ JFK    ┆ SFO  ┆ 8138          ┆ 11.952691 ┆ 12.214303          │
│ LGA    ┆ CLT  ┆ 5969          ┆ 8.965321  ┆ 12.347127          │
│ EWR    ┆ ORD  ┆ 5851          ┆ 14.644163 ┆ 16.680909          │
│ JFK    ┆ BOS  ┆ 5786          ┆ 11.694953 ┆ 14.033875          │
│ LGA    ┆ MIA  ┆ 5725          ┆ 7.361747  ┆ 9.554585           │
│ JFK    ┆ MCO  ┆ 5434          ┆ 10.601583 ┆ 12.789842          │
│ EWR    ┆ BOS  ┆ 5251          ┆ 12.54561  ┆ 15.120929          │
└────────┴──────┴───────────────┴───────────┴────────────────────┘

## Bonus: Compare with Polars

### Choose one of the queries above and implement it using Polars

This will help you understand the relationship between SQL and Polars operations.

In [24]:
# SQL version (for reference)
sql_result = ctx.execute("""
    SELECT
        origin,
        AVG(dep_delay) as avg_delay
    FROM flights
    WHERE dep_delay IS NOT NULL
    GROUP BY origin
    ORDER BY avg_delay DESC
""")

# Polars version
polars_result = (
    flights
    .filter(pl.col('dep_delay').is_not_null())
    .group_by('origin')
    .agg(pl.col('dep_delay').mean().alias('avg_delay'))
    .sort('avg_delay', descending=True)
)

print("SQL Result:")
print(sql_result)
print("\nPolars Result:")
print(polars_result)

#implement one of your own queries in Polars below:
polars_busiest_month = (
    flights
    .group_by('month')
    .agg(pl.count().alias('flight_count'))
    .sort('flight_count', descending=True)
    .limit(1)
)

print("\nPolars Result for Busiest Month:")
print(polars_busiest_month)

SQL Result:
shape: (3, 2)
┌────────┬───────────┐
│ origin ┆ avg_delay │
│ ---    ┆ ---       │
│ str    ┆ f64       │
╞════════╪═══════════╡
│ EWR    ┆ 15.107954 │
│ JFK    ┆ 12.112159 │
│ LGA    ┆ 10.346876 │
└────────┴───────────┘

Polars Result:
shape: (3, 2)
┌────────┬───────────┐
│ origin ┆ avg_delay │
│ ---    ┆ ---       │
│ str    ┆ f64       │
╞════════╪═══════════╡
│ EWR    ┆ 15.107954 │
│ JFK    ┆ 12.112159 │
│ LGA    ┆ 10.346876 │
└────────┴───────────┘

Polars Result for Busiest Month:
shape: (1, 2)
┌───────┬──────────────┐
│ month ┆ flight_count │
│ ---   ┆ ---          │
│ i64   ┆ u32          │
╞═══════╪══════════════╡
│ 7     ┆ 29425        │
└───────┴──────────────┘

/tmp/ipython-input-2473644714.py:30: DeprecationWarning: `pl.count()` is deprecated. Please use `pl.len()` instead.
  .agg(pl.count().alias('flight_count'))